.appContainer {
  min-width: 80vw;
  margin: 40px auto;
  padding: 40px;
  padding-bottom: 120px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
}

.githubLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 25px;
}

.githubLink:hover .githubIcon {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.githubLink:hover .githubText {
  color: #666;
  text-decoration: underline;
}

.githubIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: box-shadow 0.3s;
  background-color: #fff;
  box-sizing: border-box;
}

.githubText {
  margin-left: 10px;
  font-size: 1.5rem;
  color: #333;
}
